{% extends 'layouts/base.html' %}

{% block title %} Search {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-12 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Search Engine</h5>
                      
                      <form role="form" method="POST" action="{{ url_for('home_blueprint.search') }}">
                        <div class="form-group">
                          <!-- <label class="form-control-label" for="input-username">Search Text</label> -->
                          <input type="text" name="experiment" id="input-search" class="form-control" placeholder="search" >
                        </div>
                        <div class="form-group">
                          <input required type="submit" id="input-submit" name="search" class="col-lg-3 btn btn-primary" value="Search">
                        </div>
                      </form>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-search"></i></span>
                    <span class="text-nowrap">Search engine information here</span>
                  </p> -->
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Classes</h3>
            </div>
            <div class="card-body">
              <h1>
                Results
                
              </h1>
              {% if search != '' %}
              <table id="tb" class="display"  width="100%">
                <!-- <caption style="caption-side:top;text-align:center;
                font-size: 30px;color: purple;font-weight:bold"> Data for the request: {{query}}</caption> -->
                  <thead>
                      <tr>
                          {% for col in colnames %}
                          <th>{{ col }}</th>
                          {% endfor %}
                      </tr>
                  </thead>
                  <tbody>
                      {% for record in records %}
                      <tr style="width: 100%;">
                          {% for col in colnames %}
                          <td style="width: 33%;">
                            <form method="POST" role="form" action="{{ url_for('home_blueprint.search') }}">
                              <input name="search" style="border: none; padding: 20;background: none; white-space: normal; color: cornflowerblue;" class="hover" required type="submit" value="{{ record[col] }}">
                            <!-- {{ record[col] }} -->
                          </form>
                          </td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% else %}
                
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Instances</h3>
            </div>
            <div class="card-body">
              <h1>
                Results
                
              </h1>
              {% if search != '' %}
              <table id="tb" class="display"  width="100%">
                <!-- <caption style="caption-side:top;text-align:center;
                font-size: 30px;color: purple;font-weight:bold"> Data for the request: {{query}}</caption> -->
                  <thead>
                      <tr>
                          {% for col in colnamesInstances %}
                          <th>{{ col }}</th>
                          {% endfor %}
                      </tr>
                  </thead>
                  <tbody>
                      {% for record in recordsInstances %}
                      <tr style="width: 100%;">
                          {% for col in colnamesInstances %}
                          <td style="width: 33%;">
                            <form method="POST" role="form" action="{{ url_for('home_blueprint.search') }}">
                              <input name="search" style="border: none; padding: 20;background: none; white-space: normal; color: cornflowerblue;" class="hover" required type="submit" value="{{ record[col] }}">
                            <!-- {{ record[col] }} -->
                          </form>
                          </td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              {% else %}
                
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    
    <script>
      $(document).ready( function () {
          $('#tb').DataTable(
            {
                "order": [],
                scrollY: 300,
                scroller: true,
                fixedColumns: true
                
            }
          );
          $('#tb').show();
      } );
    </script>

   <script>
      function autoComp(data) {
        var availableTags = data;
        $("#input-search" ).autocomplete({
          source: availableTags,
          minLength: 1
        });
      };
      autoComp({{ autoCompList|tojson|safe }});
    </script>
    <script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>
    {% endblock javascripts %}