{% extends 'layouts/base.html' %}

{% block title %} Visualization {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-12 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Visualization</h5>
                      <span class="h2 font-weight-bold mb-0">Visualization input form here</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-chart-pie"></i></span>
                    <span class="text-nowrap">Visualization information here</span>
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Graph Header</h3>
            </div>
            <div class="card-body">
              <h1>
                Graph
              </h1>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="/static/assets/js/three.js"></script>
<script>
  const scene = new THREE.Scene();
  scene.background = new THREE.Color( 0x94a8a8 );
  const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

  const renderer = new THREE.WebGLRenderer();
  renderer.setSize( window.innerWidth, window.innerHeight );
  // renderer.setClearColor( 0xffffff, 0);
  document.body.appendChild( renderer.domElement );

  const geometry = new THREE.CylinderGeometry( 5, 5, 20, 32 );
  const material = new THREE.MeshBasicMaterial( {color: 0xfff00} );
  const cylinder = new THREE.Mesh( geometry, material );
  scene.add( cylinder );

  camera.position.z = 50;

  const animate = function () {
    requestAnimationFrame( animate );

    cylinder.rotation.x += 0.01;
    cylinder.rotation.y += 0.01;
    cylinder.rotation.z += 0.01;

    renderer.render( scene, camera );
  };

  animate();
</script>

{% endblock javascripts %}
