{% from 'macros.html' import navigation with context %}
{% block title %}Knowledge UI{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='osparklis.js') }}"></script>


<head></head>
{% block head %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<title>Mat-O-Lab: KnowledgeUI</title>
<meta charset="UTF-8" />

<link rel="shortcut icon" href="/">
{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"> -->
<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}
{% endblock %}
</head>


{% block content %}
<header class="pb-3 mb-4 border-bottom">
  {{navigation()}}
</header>

<body class="bg-light rounded-3 px-3 d-flex flex-column min-vh-100">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class='alert alert-danger'>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <div class="mb-3 text-center row flex-grow-1" id="main">
    {% block main %}
    Dashboard
    {% endblock %}
  </div>
</body>

{% block footer %}
<footer class="pt-3 my-4 text-center text-muted border-top mt-auto">
  <span class="site-footer-owner"><a href="https://github.com/Mat-O-Lab/KnowledgeUI">KnowledgeUI</a> is maintained by <a
      href="https://matolab.org"><img src="{{ logo }}" width="5%" alt="mat-o-lab-logo" /></a>.</span>
</footer>
{% endblock %}
{% endblock %}

{% block modals %}
<div id="config-endpoint-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <span class="texte lang-en">Configure the endpoint and queries</span>
          <span class="texte lang-fr">Configurer le point d'accès et les requêtes</span>
          <span class="texte lang-es">Configurar el endpoint y las consultas</span>
          <span class="texte lang-nl">Configureer de endpoint en queries</span>
        </strong>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div id="config-proxy" class="config-param">
              <input id="input-proxy" type="checkbox">
              <span class="texte lang-en">Use as a proxy the following endpoint </span>
              <span class="texte lang-fr">Utiliser comme proxy le point d'accès suivant </span>
              <span class="texte lang-es">Utilizar como proxy el siguiente endpoint</span>
              <span class="texte lang-nl">Gebruik een proxy naar de volgende endpoint</span>
              <input id="input-proxy-url" type="text" value="http://servolis.irisa.fr/dbpedia/sparql">
              <!-- default value -->
              <span class="texte lang-en"> (useful to avoid cross-domain blocking by Web browsers)</span>
              <span class="texte lang-fr"> (utile pour éviter le blocage des requêtes cross-domain par les
                navigateurs)</span>
              <span class="texte lang-es"> (útil para evitar el bloqueo de peticiones entre dominios por los
                navegadores)</span>
              <span class="texte lang-nl"> (handig om cross-domain blocking door Web browsers te vermijden)</span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-method-get" class="config-param">
              <input id="input-method-get" type="checkbox"> <!-- default value -->
              <span class="texte lang-en">Use method GET instead of method POST to send requests to endpoint (less
                efficient)</span>
              <span class="texte lang-fr">Utiliser la méthode GET au lieu de la méthode POST pour envoyer les requêtes
                au point d'accès (moins efficace)</span>
              <span class="texte lang-es">Utilizar el método GET en lugar del método POST para enviar las peticiones al
                endpoint (menos eficiente)</span>
              <span class="texte lang-nl">Gebruik de GET methode in plaats van POST om requests naar de endpoint te
                versturen (minder efficient)</span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-withCredentials" class="config-param">
              <input id="input-withCredentials" type="checkbox"> <!-- default value -->
              <span class="texte lang-en">Send requests with credentials to the endpoint</span>
              <span class="texte lang-fr">Envoyer les requêtes avec certificats (with credentials) au point
                d'accès</span>
              <span class="texte lang-es">Enviar peticiones con credenciales al endpoint</span>
              <span class="texte lang-nl">Verstuur requests met credentials naar de endpoint</span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-caching" class="config-param">
              <input id="input-caching" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Caching SPARQL query results (uncheck for frequently changing data)</span>
              <span class="texte lang-fr">Mettre en cache les résultats des requêtes SPARQL (décocher pour des données
                changeant fréquemment)</span>
              <span class="texte lang-es">Almacenar en caché los resultados de las consultas SPARQL (deseleccionar para
                datos que cambien frequentemente)</span>
              <span class="texte lang-nl">Cachen van SPARQL query resultaten (niet aanvinken voor frequent veranderende
                data)</span>
              <span class="tooltiped">
                <span class="tooltip lang-en">Click to clear the cache</span>
                <span class="tooltip lang-fr">Cliquer pour vider le cache</span>
                <span class="tooltip lang-es">Haga clic para la limpiar la caché</span>
                <span class="tooltip lang-nl">Klik hier om de cache te legen</span>
                <button id="button-clear-cache" class="btn btn-primary">
                  <span class="texte lang-en">Clear the cache</span>
                  <span class="texte lang-fr">Vider le cache</span>
                  <span class="texte lang-es">Limpiar la caché</span>
                  <span class="texte lang-nl">Leeg de cache</span>
                </button>
              </span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-default-graph" class="config-param">
              <span class="texte lang-en">Default graph URI</span>
              <span class="texte lang-fr">URI du graphe par défaut</span>
              <span class="texte lang-es">URI del grafo por defecto</span>
              <span class="texte lang-nl">Standaard graph URI</span>
              <input id="input-default-graph" type="text" value=""> <!-- default value -->
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-max-results" class="config-param">
              <span class="texte lang-en">Compute at most </span>
              <span class="texte lang-fr">Calculer au plus </span>
              <span class="texte lang-es">Calcular como máximo </span>
              <span class="texte lang-nl">Bereken hooguit </span>
              <input id="input-max-results" type="number" value="200"> <!-- default value -->
              <span class="texte lang-en"> query results</span>
              <span class="texte lang-fr"> résultats à la requête</span>
              <span class="texte lang-es"> resultados de la consulta</span>
              <span class="texte lang-nl"> query resultaten</span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-max-increment-samples" class="config-param">
              <span class="texte lang-en">Use at most </span>
              <span class="texte lang-fr">Utiliser au plus </span>
              <span class="texte lang-es">Utilizar como máximo </span>
              <span class="texte lang-nl">Gebruik hooguit </span>
              <input id="input-max-increment-samples" type="number" value="200"> <!-- default value -->
              <span class="texte lang-en"> query results for computing suggestions</span>
              <span class="texte lang-fr"> résultats de la requête pour calculer les suggestions</span>
              <span class="texte lang-es"> resultados de la consulta para calcular las sugerencias</span>
              <span class="texte lang-nl"> query resultaten om de suggesties te berekenen</span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-max-classes" class="config-param">
              <span class="texte lang-en">Suggest at most </span>
              <span class="texte lang-fr">Suggérer au plus </span>
              <span class="texte lang-es">Sugerir como máximo </span>
              <span class="texte lang-nl">Suggereer hoogstens </span>
              <input id="input-max-classes" type="number" value="200"> <!-- default value -->
              <span class="texte lang-en"> <span class="classURI">classes</span></span>
              <span class="texte lang-fr"> <span class="classURI">classes</span></span>
              <span class="texte lang-es"> <span class="classURI">clases</span></span>
              <span class="texte lang-nl"> <span class="classURI">classes</span></span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-max-properties" class="config-param">
              <span class="texte lang-en">Suggest at most </span>
              <span class="texte lang-fr">Suggérer au plus </span>
              <span class="texte lang-es">Sugerir como máximo </span>
              <span class="texte lang-nl">Suggereer hoogstens</span>
              <input id="input-max-properties" type="number" value="200"> <!-- default value -->
              <span class="texte lang-en"> <span class="propURI">properties</span></span>
              <span class="texte lang-fr"> <span class="propURI">propriétés</span></span>
              <span class="texte lang-es"> <span class="propURI">propiedades</span></span>
              <span class="texte lang-nl"> <span class="propURI">eigenschappen</span></span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-avoid-lengthy-queries" class="config-param">
              <input id="input-avoid-lengthy-queries" type="checkbox"> <!-- default value -->
              <span class="texte lang-en">Avoid very long queries, which are used to better sample suggestions</span>
              <span class="texte lang-fr">Évitez les requêtes très longues, qui sont utilisées pour mieux sélectionner
                les suggestions</span>
              <span class="texte lang-es">Evite las consultas muy largas, que se utilizan para seleccionar mejor las
                sugerencias</span>
              <span class="texte lang-nl">Vermijd zeer lange query's, die worden gebruikt om suggesties beter te
                selecteren</span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-short-permalink" class="config-param">
              <input id="input-short-permalink" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Generate short URLs for permanent links</span>
              <span class="texte lang-fr">Générer des URLs courtes pour les liens permanents</span>
              <span class="texte lang-es">Generar URL cortas para enlaces permanentes</span>
              <span class="texte lang-nl">Genereer korte URL's voor permanente links</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="tooltiped">
          <span class="tooltip lang-en">Close configuration panel to apply changes.</span>
          <span class="tooltip lang-fr">Fermer le panneau de configuration pour appliquer les changements.</span>
          <span class="tooltip lang-es">Cierre el panel de configuración para aplicar los cambios.</span>
          <span class="tooltip lang-nl">Sluit het configuratie paneel om de wijzigingen op te slaan</span>
          <button id="config-endpoint-close" type="button" class="config-close btn btn-primary" data-bs-dismiss="modal">
            <span class="texte lang-en">Close</span>
            <span class="texte lang-fr">Fermer</span>
            <span class="texte lang-es">Cerrar</span>
            <span class="texte lang-nl">Sluiten</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="config-ontology-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <span class="texte lang-en">Configure the ontology</span>
          <span class="texte lang-fr">Configurer l'ontologie</span>
          <span class="texte lang-es">Configurar la ontología</span>
          <span class="texte lang-nl">Configureer de ontologie</span>
        </strong>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div id="config-schema-graph" class="config-param">
              <span class="texte lang-en">Schema graph URI (if different from default graph)</span>
              <span class="texte lang-fr">URI du graphe contenant le schéma (si différent du graphe par défaut)</span>
              <span class="texte lang-es">URI del grafo que contiene el esquema (si difiere del grafo por
                defecto)</span>
              <span class="texte lang-nl">Schema graph URI (als deze afwijkt van de standaard graph)</span>
              <input id="input-schema-graph" type="text" value=""> <!-- default value -->
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-intentional-init-concepts" class="config-param">
              <input id="input-intentional-init-concepts" type="checkbox" checked>
              <span class="texte lang-en">Get initial concepts as instances of <code>rdfs:Class</code>,
                <code>owl:Class</code>, <code>rdf:Property</code>, <code>owl:ObjectProperty</code>, and
                <code>owl:DatatypeProperty</code> (more efficient), instead of from fact triples (more accurate)</span>
              <span class="texte lang-fr">Obtenir les concepts initiaux en tant qu'instances de <code>rdfs:Class</code>,
                <code>owl:Class</code>, <code>rdf:Property</code>, <code>owl:ObjectProperty</code> et
                <code>owl:DatatypeProperty</code> (plus efficace), plutôt qu'à partir des triplets de faits (plus
                précis)</span>
              <span class="texte lang-es">Obtener los conceptos iniciales como instancias de <code>rdfs:Class</code>,
                <code>owl:Class</code>, <code>rdf:Property</code>, <code>owl:ObjectProperty</code>, y
                <code>owl:DatatypeProperty</code> (más eficiente), en lugar de a partir de las tripletas de datos (más
                preciso)</span>
              <span class="texte lang-nl">Verkrijg originele concepten als instances van <code>rdfs:Class</code>,
                <code>owl:Class</code>, <code>rdf:Property</code>, <code>owl:ObjectProperty</code>, and
                <code>owl:DatatypeProperty</code> (more efficient), in plaats van fact triples (meer accuracy)</span>
            </div>
          </li>
          <li class="list-group-item">
            <span class="texte lang-en">Include only classes and properties that are instances of the following
              meta-classes: </span>
            <span class="texte lang-fr">Inclure seulement les classes et propriétés qui sont instances des méta-classes
              suivantes : </span>
            <span class="texte lang-es">Incluya solo las clases y propiedades que son instancias de las siguientes
              metaclases</span>
            <span class="texte lang-nl">Neem alleen klassen en eigenschappen op die instanties zijn van de volgende
              metaklassen</span>
            <div id="config-concept-profile" class="config-param">
              <input id="input-concept-profile" type="text" size="60" value="" placeholder="uri1, uri2, ...">
              <!-- default value -->
            </div>
          </li>
          <li class="list-group-item">
            <span class="texte lang-en">Exclude suggestions whose URI matches regexp: </span>
            <span class="texte lang-fr">Exclure les suggestions dont l'URI matche la regexp: </span>
            <span class="texte lang-es">Excluir sugerencias cuya URI coincida con la expresión regular: </span>
            <span class="texte lang-nl">Sluit suggesties uit waar de URI matcht met regexp: </span>
            <div id="config-regexp-hidden-uris" class="config-param">
              <input id="input-regexp-hidden-uris" type="text" size="60"
                value="^(http://www.w3.org/2002/07/owl#|http://www.openlinksw.com/|nodeID://)"> <!-- default value -->
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-class-hierarchy" class="config-param">
              <input id="input-class-hierarchy" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Organize <span class="classURI">classes</span> into a hierarchy using
                <code>rdfs:subClassOf</code> </span>
              <span class="texte lang-fr">Organiser les <span class="classURI">classes</span> en une hiérarchie
                utilisant <code>rdfs:subClassOf</code></span>
              <span class="texte lang-es">Organizar las <span class="classURI">clases</span> en una jerarquía usando
                <code>rdfs:subClassOf</code></span>
              <span class="texte lang-nl">Organiseer <span class="classURI">classes</span> in een hiërarchie met
                <code>rdfs:subClassOf</code> </span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-property-hierarchy" class="config-param">
              <input id="input-property-hierarchy" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Organize <span class="propURI">properties</span> into a hierarchy using
                <code>rdfs:subPropertyOf</code> </span>
              <span class="texte lang-fr">Organiser les <span class="propURI">propriétés</span> en une hiérarchie
                utilisant <code>rdfs:subPropertyOf</code></span>
              <span class="texte lang-es">Organizar las <span class="propURI">propiedades</span> en una jerarquía usando
                <code>rdfs:subPropertyOf</code></span>
              <span class="texte lang-nl">Organiseer <span class="propURI">properties</span> in een hiërarchie met
                <code>rdfs:subPropertyOf</code> </span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-hierarchy-inheritance" class="config-param">
              <input id="input-hierarchy-inheritance" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Organize property values into a hierarchy according to
                <code>rdfs:inheritsThrough</code> </span>
              <span class="texte lang-fr">Organiser les valeurs d'une propriété en une hiérarchie selon
                <code>rdfs:inheritsThrough</code></span>
              <span class="texte lang-es">Organizar los valores de una propiedad en una jerarquía de acuerdo a
                <code>rdfs:inheritsThrough</code></span>
              <span class="texte lang-nl">Organiseer waarden van de eigenschappen in een hiërarchie zoals
                <code>rdfs:inheritsThrough</code></span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-transitive-closure" class="config-param">
              <input id="input-transitive-closure" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Use materialized transitive closures declared with property <code
                  title="http://www.irisa.fr/LIS/ferre/vocab/owl#transitiveOf">lis-owl:transitiveOf</code></span>
              <span class="texte lang-fr">Utiliser les fermetures transitives matérialisées, déclarées avec la propriété
                <code title="http://www.irisa.fr/LIS/ferre/vocab/owl#transitiveOf">lis-owl:transitiveOf</code></span>
              <span class="texte lang-es">Utilizar cierres transitivos materializados, declarados con la propiedad <code
                  title="http://www.irisa.fr/LIS/ferre/vocab/owl#transitiveOf">lis-owl:transitiveOf</code></span>
              <span class="texte lang-nl">Gebruik gematerialiseerde transitieve sluitingen, gedeclareerd met de
                eigenschap <code
                  title="http://www.irisa.fr/LIS/ferre/vocab/owl#transitiveOf">lis-owl:transitiveOf</code></span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-nary-relations" class="config-param">
              <input id="input-nary-relations" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Suggest <span class="naryURI">n-ary relations (reified triples)</span>
                according to: </span>
              <span class="texte lang-fr">Suggérer des <span class="naryURI">relations n-aires (triplets réifiés)</span>
                selon : </span>
              <span class="texte lang-es">Sugerir <span class="naryURI">relaciones n-arias (tripletas reificadas)</span>
                de acuerdo a: </span>
              <code title="http://www.irisa.fr/LIS/ferre/vocab/nary#subjectObject">nary:subjectObject</code>, <code
                title="http://www.irisa.fr/LIS/ferre/vocab/nary#eventObject">nary:eventObject</code>
              <span class="texte lang-nl"> Suggereer <span class="naryURI"> n-ary relaties (geconcretiseerde triples)
                </span> volgens:
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-wikidata-mode" class="config-param">
              <input id="input-wikidata-mode" type="checkbox"> <!-- default value -->
              <span class="texte lang-en">Specific configuration for Wikidata model</span>
              <span class="texte lang-fr">Configuration spéciale pour le modèle Wikidata</span>
              <span class="texte lang-es">Configuración especial para el modelo Wikidata</span>
              <span class="texte lang-nl"> Specifieke configuratie voor het Wikidata model</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="tooltiped">
          <span class="tooltip lang-en">Close configuration panel to apply changes.</span>
          <span class="tooltip lang-fr">Fermer le panneau de configuration pour appliquer les changements.</span>
          <span class="tooltip lang-es">Cierre el panel de configuración para aplicar los cambios.</span>
          <span class="tooltip lang-nl">Sluit het configuratie paneel om de wijzingen op te slaan. </span>
          <button id="config-ontology-close" type="button" class="config-close btn btn-primary" data-bs-dismiss="modal">
            <span class="texte lang-en">Close</span>
            <span class="texte lang-fr">Fermer</span>
            <span class="texte lang-es">Cerrar</span>
            <span class="texte lang-nl">Sluiten</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="config-language-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <span class="texte lang-en">Configure the language and labels</span>
          <span class="texte lang-fr">Configurer la langue et les étiquettes</span>
          <span class="texte lang-es">Configurar el idioma y las etiquetas</span>
          <span class="texte lang-nl">Configureer de taal en labels</span>
        </strong>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div id="config-lang" class="config-param">
              <span class="texte lang-en">Set the page and query <strong>language</strong> as </span>
              <span class="texte lang-fr">Définir la <strong>langue</strong> de la page et des requêtes </span>
              <span class="texte lang-es">Cambiar el <strong>idioma</strong> de la página y las consultas a </span>
              <span class="texte lang-nl"> Stel de pagina en query <strong>taal</strong> in als</span>
              <select id="lang-select">
                <option value="en">English</option>
                <option value="fr">français</option>
                <option value="es">Español</option>
                <option value="nl">Nederlands</option>
              </select>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-label-entity" class="config-param">
              <span class="texte lang-en">For the <strong>labels</strong> of <span class="URI">entities</span>, use
                property </span>
              <span class="texte lang-fr">Pour les <strong>étiquettes</strong> d'<span class="URI">entités</span>,
                utiliser la propriété </span>
              <span class="texte lang-es">Para las <strong>etiquetas</strong> de las <span class="URI">entidades</span>,
                utilizar la propiedad </span>
              <span class="texte lang-nl"> Voor <strong>labels</strong> van <span class="URI">entity</span>, gebruik
                eigenschap </span>
              <select id="config-label-entity-select">
                <option value=""></option>
                <option value="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</option>
                <option value="http://www.w3.org/2004/02/skos/core#prefLabel">skos:prefLabel</option>
                <option value="http://purl.org/dc/elements/1.1/title">dc:title</option>
                <option value="http://purl.org/dc/terms/title">dct:title</option>
                <option value="other">prop1, prop2, ...</option>
              </select>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the URIs of the desired properties</span>
                <span class="tooltip lang-fr">Entrer ici les URI des propriétés souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí las URIs de las propiedades requeridas</span>
                <span class="tooltip lang-nl">Voer hier de URIs in van de gewenste eigenschappen</span>
                <input id="config-label-entity-input" type="text" size="50" placeholder="uri1, uri2, ...">
              </span>
              <span class="texte lang-en"> with languages (optional) </span>
              <span class="texte lang-fr"> avec les langues (optionnel) </span>
              <span class="texte lang-es"> con los idiomas (opcional) </span>
              <span class="texte lang-nl"> met talen (optioneel) </span>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the desired language tags</span>
                <span class="tooltip lang-fr">Entrer ici les tags des langues souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí los tags de los idiomas requeridos</span>
                <span class="tooltip lang-nl">Voer hier de gewenste taaltags in</span>
                <input id="config-label-entity-input-lang" type="text" size="10" placeholder="tag1, tag2, ...">
              </span>
              <span class="texte lang-en"> (e.g., 'en,fr' for English or French) </span>
              <span class="texte lang-fr"> (ex., 'en,fr' pour l'anglais ou le français) </span>
              <span class="texte lang-es"> (ej., 'en,fr' para inglés o francés) </span>
              <span class="texte lang-nl"> (bijv., 'en,fr' voor Engels of Frans) </span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-label-concept" class="config-param">
              <span class="texte lang-en">For the <strong>labels</strong> of <span class="classURI">classes</span>,
                <span class="propURI">properties</span>, and <span class="naryURI">qualifiers</span>, use
                property</span>
              <span class="texte lang-fr">Pour les <strong>étiquettes</strong> de <span class="classURI">classes</span>,
                <span class="propURI">propriétés</span> et <span class="naryURI">qualifieurs</span>, utiliser la
                propriété</span>
              <span class="texte lang-es">Para las <strong>etiquetas</strong> de las <span
                  class="classURI">clases</span>, <span class="propURI">propiedades</span> y <span
                  class="naryURI">calificadores</span>, utilizar la propiedad</span>
              <span class="texte lang-nl">Voor <strong>labels</strong> van <span class="classURI">klassen</span>, <span
                  class="propURI">eigenschappen</span>, en <span class="naryURI">qualifiers</span>, gebruik de
                eigenschap</span>
              <select id="config-label-concept-select">
                <option value=""></option>
                <option value="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</option>
                <option value="http://www.w3.org/2004/02/skos/core#prefLabel">skos:prefLabel</option>
                <option value="http://purl.org/dc/elements/1.1/title">dc:title</option>
                <option value="http://purl.org/dc/terms/title">dct:title</option>
                <option value="other">prop1, prop2, ...</option>
              </select>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the URI of the desired properties</span>
                <span class="tooltip lang-fr">Entrer ici les URI des propriétés souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí las URIs de las propiedades requeridas</span>
                <span class="tooltip lang-nl">Voer hier de URIs in van de gewenste eigenschappen</span>
                <input id="config-label-concept-input" type="text" size="50" placeholder="uri1, uri2, ...">
              </span>
              <span class="texte lang-en"> with languages (optional)</span>
              <span class="texte lang-fr"> avec les langues (optionnel)</span>
              <span class="texte lang-es"> con los idiomas (opcional) </span>
              <span class="texte lang-nl"> met talen (optioneel)</span>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the desired language tags</span>
                <span class="tooltip lang-fr">Entrer ici les tags des langues souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí los tags de los idiomas requeridos</span>
                <span class="tooltip lang-nl">Voer hier de gewenste taaltags in</span>
                <input id="config-label-concept-input-lang" type="text" size="10" placeholder="tag1, tag2, ...">
              </span>
              <span class="texte lang-en">(e.g., 'en,fr' for English or French)</span>
              <span class="texte lang-fr">(ex., 'en,fr' pour l'anglais ou le français)</span>
              <span class="texte lang-es">(ej., 'en,fr' para inglés o francés) </span>
              <span class="texte lang-nl"> (bijv., 'en,fr' voor Engels of Frans) </span>
            </div>
          </li>

          <li class="list-group-item">
            <div id="config-entity-tooltips" class="config-param">
              <span class="texte lang-en">For the <strong>tooltips</strong> of <span class="URI">entities</span>, use
                property </span>
              <span class="texte lang-fr">Pour les <strong>info-bulles</strong> d'<span class="URI">entités</span>,
                utiliser la propriété </span>
              <span class="texte lang-es">Para los <strong>tooltips</strong> de las <span class="URI">entidades</span>,
                utilizar la propiedad </span>
              <span class="texte lang-nl"> Voor de <strong>tooltips</strong> van <span class="URI">entities</span>,
                gebruik eigenschap </span>
              <select id="config-entity-tooltips-select">
                <option value="">(URI)</option>
                <option value="void">(void)</option>
                <option value="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</option>
                <option value="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</option>
                <option value="http://www.w3.org/2004/02/skos/core#prefLabel">skos:prefLabel</option>
                <option value="http://purl.org/dc/elements/1.1/title">dc:title</option>
                <option value="http://purl.org/dc/terms/title">dct:title</option>
                <option value="other">prop1, prop2, ...</option>
              </select>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the URIs of the desired properties</span>
                <span class="tooltip lang-fr">Entrer ici les URI des propriétés souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí las URIs de las propiedades requeridas</span>
                <span class="tooltip lang-nl">Voer hier de URIs in van de gewenste eigenschappen</span>
                <input id="config-entity-tooltips-input" type="text" size="50" placeholder="uri1, uri2, ...">
              </span>
              <span class="texte lang-en"> with languages (optional) </span>
              <span class="texte lang-fr"> avec les langues (optionnel) </span>
              <span class="texte lang-es"> con los idiomas (opcional) </span>
              <span class="texte lang-nl"> met talen (optioneel) </span>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the desired language tags</span>
                <span class="tooltip lang-fr">Entrer ici les tags des langues souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí los tags de los idiomas requeridos</span>
                <span class="tooltip lang-nl">Voer hier de gewenste taaltags in</span>
                <input id="config-entity-tooltips-input-lang" type="text" size="10" placeholder="tag1, tag2, ...">
              </span>
              <span class="texte lang-en"> (e.g., 'en,fr' for English or French) </span>
              <span class="texte lang-fr"> (ex., 'en,fr' pour l'anglais ou le français) </span>
              <span class="texte lang-es"> (ej., 'en,fr' para inglés o francés) </span>
              <span class="texte lang-nl"> (bijv., 'en,fr' voor Engels of Frans) </span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-concept-tooltips" class="config-param">
              <span class="texte lang-en">For the <strong>tooltips</strong> of <span class="classURI">classes</span>,
                <span class="propURI">properties</span>, and <span class="naryURI">qualifiers</span>, use
                property</span>
              <span class="texte lang-fr">Pour les <strong>info-bulles</strong> des <span
                  class="classURI">classes</span>, <span class="propURI">propriétés</span> et <span
                  class="naryURI">qualifieurs</span>, utiliser la propriété</span>
              <span class="texte lang-es">Para los <strong>tooltips</strong> de las <span
                  class="classURI">clases</span>, <span class="propURI">propiedades</span> y <span
                  class="naryURI">calificadores</span>, utilizar la propiedad</span>
              <span class="texte lang-nl">Voor de <strong>tooltips</strong> van <span class="classURI">klassen</span>,
                <span class="propURI">eigenschappen</span>, en <span class="naryURI">qualifiers</span>, gebruik de
                eigenschap</span>
              <select id="config-concept-tooltips-select">
                <option value="">(URI)</option>
                <option value="void">(void)</option>
                <option value="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</option>
                <option value="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</option>
                <option value="http://www.w3.org/2004/02/skos/core#prefLabel">skos:prefLabel</option>
                <option value="http://purl.org/dc/elements/1.1/title">dc:title</option>
                <option value="http://purl.org/dc/terms/title">dct:title</option>
                <option value="other">prop1, prop2, ...</option>
              </select>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the URI of the desired properties</span>
                <span class="tooltip lang-fr">Entrer ici les URI des propriétés souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí las URIs de las propiedades requeridas</span>
                <span class="tooltip lang-nl">Voer hier de URIs in van de gewenste eigenschappen</span>
                <input id="config-concept-tooltips-input" type="text" size="50" placeholder="uri1, uri2, ...">
              </span>
              <span class="texte lang-en"> with languages (optional)</span>
              <span class="texte lang-fr"> avec les langues (optionnel)</span>
              <span class="texte lang-es"> con los idiomas (opcional) </span>
              <span class="texte lang-nl"> met talen (optioneel)</span>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the desired language tags</span>
                <span class="tooltip lang-fr">Entrer ici les tags des langues souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí los tags de los idiomas requeridos</span>
                <span class="tooltip lang-nl">Voer hier de gewenste taaltags in</span>
                <input id="config-concept-tooltips-input-lang" type="text" size="10" placeholder="tag1, tag2, ...">
              </span>
              <span class="texte lang-en">(e.g., 'en,fr' for English or French)</span>
              <span class="texte lang-fr">(ex., 'en,fr' pour l'anglais ou le français)</span>
              <span class="texte lang-es">(ej., 'en,fr' para inglés o francés) </span>
              <span class="texte lang-nl"> (bijv., 'en,fr' voor Engels of Frans) </span>
            </div>
          </li>

          <li class="list-group-item">
            <div id="config-open-links" class="config-param">
              <span class="texte lang-en">For the <strong>hyperlinks</strong> <span
                  class="bi bi-box-arrow-up-right"></span> of <span class="URI">entities</span>, use property </span>
              <span class="texte lang-fr">Pour les <strong>hyperliens</strong> <span
                  class="bi bi-box-arrow-up-right"></span> des <span class="URI">entités</span>, utiliser la propriété
              </span>
              <span class="texte lang-es">Para los <strong>hipervínculos</strong> <span
                  class="bi bi-box-arrow-up-right"></span> de las <span class="URI">entidades</span>, utilizar la
                propiedad </span>
              <span class="texte lang-nl"> Voor de <strong>hyperlinks</strong> <span
                  class="bi bi-box-arrow-up-right"></span> van <span class="URI">entities</span>, gebruik eigenschap
              </span>
              <select id="config-open-links-select">
                <option value="">(URI)</option>
                <option value="void">(void)</option>
                <option value="http://www.w3.org/2000/01/rdf-schema#seeAlso">rdfs:seeAlso</option>
                <option value="http://www.w3.org/2000/01/rdf-schema#isDefinedBy">rdfs:isDefinedBy</option>
                <option value="http://xmlns.com/foaf/0.1/homepage">foaf:homepage</option>
                <option value="http://xmlns.com/foaf/0.1/isPrimaryTopicOf">foaf:isPrimaryTopicOf</option>
                <option value="other">prop1, prop2, ...</option>
              </select>
              <span class="tooltiped">
                <span class="tooltip lang-en">Enter here the URIs of the desired properties</span>
                <span class="tooltip lang-fr">Entrer ici les URI des propriétés souhaitées</span>
                <span class="tooltip lang-es">Introduzca aquí las URIs de las propiedades requeridas</span>
                <span class="tooltip lang-nl">Voer hier de URIs in van de gewenste eigenschappen</span>
                <input id="config-open-links-input" type="text" size="50" placeholder="uri1, uri2, ...">
              </span>
              <span style="display:none">
                <!-- no need for language tag with open links -->
                <span class="texte lang-en"> with languages (optional) </span>
                <span class="texte lang-fr"> avec les langues (optionnel) </span>
                <span class="texte lang-es"> con los idiomas (opcional) </span>
                <span class="texte lang-nl"> met talen (optioneel) </span>
                <span class="tooltiped">
                  <span class="tooltip lang-en">Enter here the desired language tags</span>
                  <span class="tooltip lang-fr">Entrer ici les tags des langues souhaitées</span>
                  <span class="tooltip lang-es">Introduzca aquí los tags de los idiomas requeridos</span>
                  <span class="tooltip lang-nl">Voer hier de gewenste taaltags in</span>
                  <input id="config-open-links-input-lang" type="text" size="10" placeholder="tag1, tag2, ...">
                </span>
                <span class="texte lang-en"> (e.g., 'en,fr' for English or French) </span>
                <span class="texte lang-fr"> (ex., 'en,fr' pour l'anglais ou le français) </span>
                <span class="texte lang-es"> (ej., 'en,fr' para inglés o francés) </span>
                <span class="texte lang-nl"> (bijv., 'en,fr' voor Engels of Frans) </span>
              </span>
            </div>
          </li>

          <li class="list-group-item">
            <div id="config-show-datatypes" class="config-param">
              <input id="input-show-datatypes" type="checkbox"> <!-- default value -->
              <span class="texte lang-en">For <span class="Literal">literals</span>, show datatypes and language tags
              </span>
              <span class="texte lang-fr">Pour les <span class="Literal">littéraux</span>, montrer les types de données
                et les tags de langues </span>
              <span class="texte lang-es">Para los <span class="Literal">literales</span>, mostrar los tipos de datos y
                tags de idioma </span>
              <span class="texte lang-nl">Voor <span class="Literal">literals</span>, laat de datatypes en taaltags zien
              </span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-fulltext-search" class="config-param">
              <span class="texte lang-en">For suggestion filtering, use </span>
              <span class="texte lang-fr">Pour le filtrage des suggestions, utiliser </span>
              <span class="texte lang-es">Para filtrar las sugerencias, use </span>
              <span class="texte lang-nl">Voor het filteren van suggesties, gebruik </span>
              <select id="input-fulltext-search-select">
                <!-- Move 'selected' to change default value -->
                <option value="regex" selected>SPARQL's REGEX</option>
                <option value="text:query">Jena's <code>text:query</code></option>
                <option value="bif:contains">Virtuoso's <code>bif:contains</code></option>
              </select>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="tooltiped">
          <span class="tooltip lang-en">Close configuration panel to apply changes.</span>
          <span class="tooltip lang-fr">Fermer le panneau de configuration pour appliquer les changements.</span>
          <span class="tooltip lang-es">Cierre el panel de configuración para aplicar los cambios.</span>
          <span class="tooltip lang-nl">Sluit het configuratie paneel om de wijzingen op te slaan.</span>
          <button id="config-language-close" type="button" class="config-close btn btn-primary" data-bs-dismiss="modal">
            <span class="texte lang-en">Close</span>
            <span class="texte lang-fr">Fermer</span>
            <span class="texte lang-es">Cerrar</span>
            <span class="texte lang-nl">Sluiten</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="config-advanced-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <span class="texte lang-en">Configure advanced features</span>
          <span class="texte lang-fr">Configurer les fonctionnalités avancées</span>
          <span class="texte lang-es">Configurar las características avanzadas</span>
          <span class="texte lang-nl">Configureer geavanceerde functies</span>
        </strong>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div id="config-auto-filtering" class="config-param">
              <input id="input-auto-filtering" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Filter suggestions as soon as characters are input rather than on Enter</span>
              <span class="texte lang-fr">Filter les suggestions dès que des caractères sont entrés plutôt qu'avec la
                touche Entrée</span>
              <span class="texte lang-es">Filtrar sugerencias conforme se introduzcan los caracteres en lugar de al
                prestionar Enter</span>
              <span class="texte lang-nl">Filter suggesties zodra tekens worden ingevoerd in plaats van op Enter</span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-sort-by-position" class="config-param">
              <input id="input-sort-by-position" type="checkbox"> <!-- default value -->
              <span class="texte lang-en">Sort concepts and entities according to their value of <a target="_blank"
                  href="https://schema.org/position"><code>schema:position</code></a></span>
              <span class="texte lang-fr">Trier les concepts et les entités en fonction de leur valeur de <a
                  target="_blank" href="https://schema.org/position"><code>schema:position</code></a></span>
              <span class="texte lang-es">Ordenar conceptos y entidades de acuerdo a su valor de <a target="_blank"
                  href="https://schema.org/position"><code>schema:position</code></a></span>
              <span class="texte lang-nl">Sorteer concepten en entiteiten op basis van hun waarde van <a target="_blank"
                  href="https://schema.org/position"><code>schema:position</code></a></span>
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-show-logo" class="config-param">
              <input id="input-show-logo" type="checkbox"> <!-- default value -->
              <span class="texte lang-en">Label concepts and entities with icons according to their value of <a
                  target="_blank" href="https://schema.org/logo"><code>schema:logo</code></a>. Icon height </span>
              <span class="texte lang-fr">Étiqueter les concepts et les entités avec des icônes en fonction de leur
                valeur de <a target="_blank" href="https://schema.org/logo"><code>schema:logo</code></a>. Hauteur des
                icônes </span>
              <span class="texte lang-es">Etiquetar conceptos y entidades con iconos de acuerdo a su valor de <a
                  target="_blank" href="https://schema.org/logo"><code>schema:logo</code></a>. Altura de los iconos
              </span>
              <span class="texte lang-nl">Label concepten en entiteiten met pictogrammen op basis van hun waarde van <a
                  target="_blank" href="https://schema.org/logo"><code>schema:logo</code></a>. Pictogram hoogte </span>
              <input id="input-logo-height" type="number" value="20"> <!-- default value -->
            </div>
          </li>
          <li class="list-group-item">
            <div id="config-incr-sim" class="config-param">
              <input id="input-incr-sim" type="checkbox">
              <span class="texte lang-en">Show similarity suggestions (covers SPARQL optional paths)</span>
              <span class="texte lang-fr">Afficher les suggestions de similarité (couvre les chemins optionnels de
                SPARQL)</span>
              <span class="texte lang-es">Mostrar sugerencias de similitud (cubre los caminos opcionales de
                SPARQL)</span>
              <span class="texte lang-nl">Toon suggesties voor overeenkomsten (omvat SPARQL optionele paden)</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="tooltiped">
          <span class="tooltip lang-en">Close configuration panel to apply changes.</span>
          <span class="tooltip lang-fr">Fermer le panneau de configuration pour appliquer les changements.</span>
          <span class="tooltip lang-es">Cierre el panel de configuración para aplicar los cambios.</span>
          <span class="tooltip lang-nl">Sluit het configuratie paneel om de wijzingen op te slaan.</span>
          <button id="config-privacy-close" type="button" class="config-close btn btn-primary" data-bs-dismiss="modal">
            <span class="texte lang-en">Close</span>
            <span class="texte lang-fr">Fermer</span>
            <span class="texte lang-es">Cerrar</span>
            <span class="texte lang-nl">Sluiten</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="config-privacy-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <span class="texte lang-en">Configure privacy</span>
          <span class="texte lang-fr">Configurer la vie privée</span>
          <span class="texte lang-es">Configurar la privacidad</span>
          <span class="texte lang-nl">Configureer privacy</span>
        </strong>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div id="config-logging" class="config-param">
              <input id="input-logging" type="checkbox" checked> <!-- default value -->
              <span class="texte lang-en">Reporting query history for usability improvement (only client IP, session ID,
                and queries are reported, not query results)</span>
              <span class="texte lang-fr">Rapporter l'historique des requêtes à des fins d'amélioration de
                l'utilisabilité (seuls l'IP client, l'identifiant de session et les requêtes sont rapportées, pas les
                résultats des requêtes)</span>
              <span class="texte lang-es">Reportar el historial de consultas para la mejora de la usabilidad (sólo se
                recogen la IP del cliente, el ID de sesión y las consultas, no los resultados de las mismas) </span>
              <span class="texte lang-nl">Rapporteren van de query geschiedenis voor het verbeteren van de
                gebruiksvriendelijkheid (alleen de client IP, sessie ID, en queries zijn gerapporteerd, niet de query
                resultaten)</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="tooltiped">
          <span class="tooltip lang-en">Close configuration panel to apply changes.</span>
          <span class="tooltip lang-fr">Fermer le panneau de configuration pour appliquer les changements.</span>
          <span class="tooltip lang-es">Cierre el panel de configuración para aplicar los cambios.</span>
          <span class="tooltip lang-nl">Sluit het configuratie paneel om de wijzingen op te slaan.</span>
          <button id="config-privacy-close" type="button" class="config-close btn btn-primary" data-bs-dismiss="modal">
            <span class="texte lang-en">Close</span>
            <span class="texte lang-fr">Fermer</span>
            <span class="texte lang-es">Cerrar</span>
            <span class="texte lang-nl">Sluiten</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>


<div id="download-results-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <span class="texte lang-en">Download results as a CSV file</span>
          <span class="texte lang-fr">Télécharger les résultats sous forme de fichier CSV</span>
          <span class="texte lang-es">Descargar los resultados en un archivo CSV</span>
          <span class="texte lang-nl">Resultaten downloaden als CSV-bestand</span>
        </strong>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="config-param">
              <input id="input-csv-raw-terms" type="checkbox">
              <span class="texte lang-en">Fill cells with raw URIs and literals rather than as displayed in the
                table</span>
              <span class="texte lang-fr">Remplir les cellules avec des URI et des littéraux bruts plutôt que comme
                indiqué dans le tableau</span>
              <span class="texte lang-es">Rellenar las celdas con URIs y literales en bruto en lugar de como se muestra
                en la tabla</span>
              <span class="texte lang-nl">Vul cellen met ruwe URI's en literalen in plaats van zoals weergegeven in de
                tabel</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="config-param">
              <span class="texte lang-en">Compute at most </span>
              <span class="texte lang-fr">Calculer au plus </span>
              <span class="texte lang-es">Calcular como máximo </span>
              <span class="texte lang-nl">Bereken hooguit </span>
              <input id="input-csv-max-results" type="number" value="">
              <span class="texte lang-en"> query results</span>
              <span class="texte lang-fr"> résultats à la requête</span>
              <span class="texte lang-es"> resultados de la consulta</span>
              <span class="texte lang-nl"> query resultaten</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">
          <span class="bi bi-x"></span>
        </button>
        <button id="ok-download-results" type="button" class="btn btn-primary" data-bs-dismiss="modal">
          <span class="bi bi-check"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="download-results-modal" class="modal" role="dialog" tabindex="-1" aria-labelledby="DonwloadModal"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <span class="texte lang-en">Download results as a CSV file</span>
          <span class="texte lang-fr">Télécharger les résultats sous forme de fichier CSV</span>
          <span class="texte lang-es">Descargar los resultados en un archivo CSV</span>
          <span class="texte lang-nl">Resultaten downloaden als CSV-bestand</span>
        </strong>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="config-param">
              <input id="input-csv-raw-terms" type="checkbox">
              <span class="texte lang-en">Fill cells with raw URIs and literals rather than as displayed in the
                table</span>
              <span class="texte lang-fr">Remplir les cellules avec des URI et des littéraux bruts plutôt que comme
                indiqué dans le tableau</span>
              <span class="texte lang-es">Rellenar las celdas con URIs y literales en bruto en lugar de como se muestra
                en la tabla</span>
              <span class="texte lang-nl">Vul cellen met ruwe URI's en literalen in plaats van zoals weergegeven in de
                tabel</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="config-param">
              <span class="texte lang-en">Compute at most </span>
              <span class="texte lang-fr">Calculer au plus </span>
              <span class="texte lang-es">Calcular como máximo </span>
              <span class="texte lang-nl">Bereken hooguit </span>
              <input id="input-csv-max-results" type="number" value="">
              <span class="texte lang-en"> query results</span>
              <span class="texte lang-fr"> résultats à la requête</span>
              <span class="texte lang-es"> resultados de la consulta</span>
              <span class="texte lang-nl"> query resultaten</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">
          <span class="bi-x"></span>
        </button>
        <button id="ok-download-results" type="button" class="btn btn-primary" data-bs-dismiss="modal">
          <span class="bi-check"></span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=sunburst">
</script>
{% endblock %}