{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='sunburst_utilities.js') }}"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script id="sunburst-chart-creation">
  (async function () {

    // get endpoint parameter and mirror in form field
    const urlParams = new URLSearchParams(window.location.search);
    const endpoint = urlParams.get('endpoint');
    const formField = $('#endpoint-field')
    formField.val(endpoint)

    // make Form submit redirect with new endpoint parameter but keep other params
    $('#set-endpoint').submit((event) => {
      event.preventDefault()
      urlParams.set('endpoint', formField.val())
      console.log(urlParams.toString())
      window.location.href = window.location.origin + window.location.pathname + '?' + urlParams.toString()
    })

    const errorAlert = $('#sunburst-error')
    errorAlert.hide()
    // loading screen is shown by default
    const infoBox = $('#sunburst-loading')
    infoBox.show()

    const sunburstConfig = {
      children: d => d.children,
      value: d => d.count, // size of each node (file); null for internal nodes (folders)
      label: d => d.label1.length <= 6 ? d.label1 : d.label1.substring(0, 6) + '...', // display name for each cell
      title: (d, n) => `${n.ancestors().reverse().map(d => d.data.label1).join(".")}\ncount: ${n.value}`, // hover text
      // link_url = query_url.searchParams.set('sparklis-query','test'),
      link: (d, n) => `osparklis.html?endpoint=${endpoint}&sparklis-query=%5BVId%5DReturn%28Det%28An%281%2CModif%28Select%2CUnordered%29%2CClass%28%22${encodeURIComponent(d.c)}%22%29%29%2CNone%29%29`,
      width: 800,
      height: 800,
    }

    try {

      if (endpoint == undefined) {
        throw 'Please set an endpoint!'
      }

      console.log('Attempting to load data...')

      const res = await getNodeData(endpoint)

      console.log('Data was loaded!')

      if (res.results.bindings.length === 0) {
        throw 'The data returned from the endpoint is empty!'
      }

      const treeDict = parseNodeDataReverse(res)

      const rootNode = { c: treeDict.roots[0], label1: treeDict.roots[0] }

      const nodeHierarchy = makeHierarchy(rootNode, treeDict.nodes)

      if (treeDict.roots.length > 1) {
        $('#set-root').show()
        const rootOptions = $('#root-options')
        rootOptions.append(`<option selected value="0">${treeDict.roots[0]}</option>`)
        for (let i = 1; i < treeDict.roots.length; i++) {
          rootOptions.append(`<option value="${i}">${treeDict.roots[i]}</option>`)
        }

        rootOptions.change(() => {
          const selectedOption = rootOptions.find("option:selected").val();
          const newRoot = { c: treeDict.roots[selectedOption], label1: treeDict.roots[selectedOption] }
          const newHierarchy = makeHierarchy(newRoot, treeDict.nodes)
          responsive_sunburst.empty()
          //d3.select("svg").remove()
          updateSunburst(newHierarchy, config)
        });
      }

      const chart = Sunburst(nodeHierarchy, sunburstConfig);
      $("#sunburst").append(chart)

      const responsive_sunburst = $("#sunburst"),
      aspect = responsive_sunburst.width() / responsive_sunburst.height(),
      container = responsive_sunburst.parent();

      // make sunburst responsive
      $(window).on("resize", function () {
        var targetHeight = container.height();
        responsive_sunburst.attr("height", targetHeight);
        responsive_sunburst.attr("width", Math.round(targetHeight * aspect));
      }).trigger("resize");

    } catch (e) {
      errorAlert.text(e.responseText ? e.responseText : JSON.stringify(e))
      errorAlert.show()
      console.log('Error occurred!')
      console.log(e)
    } finally {
      // sunburst is done, hide loading screen here
      infoBox.hide()
    }



  })();
</script>
{% endblock %}

{% block main %}
<form id="set-endpoint">
  <div class="input-group mb-3">
    <input id="endpoint-field" value="" name="endpoint" class="form-control no-padding" type="url">
    <div class="input-group-append">
      <button type="submit" id="sparql-endpoint-button" class="btn btn-primary">Set endpoint</button>
    </div>
  </div>
</form>
<form id="set-root" style="display: none;">
  <div class="input-group mb-3">
    <select class="form-select" id='root-options' aria-label="Default select example" >
    </select>
  </div>
</form>

<!-- <meta id="sunburst_data" data-nodes="{{ sunburst_data }}"> -->
<div class="alert alert-info" id="sunburst-loading" role="alert" style="display: none;">
  Loading overview data...
</div>
<div class="alert alert-danger" id="sunburst-error" role="alert" style="display: none;">

</div>
<svg class="img-fluid" height="100%" id="sunburst" viewBox="0 0 800 800" style="display:block; margin:0 auto;"></svg>
{% endblock %}