{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='sunburst.js') }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'your_analytiks_tag');
</script>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  function filterNodesById(nodes, id) {
    return nodes.filter(function (n) { return n.id === id; });
  }

  function triplesToGraph(triples) {

    svg.html("");
    //Graph
    var graph = { nodes: [], links: [] };

    //Initial Graph from triples
    triples.forEach(function (triple) {
      var subjId = triple.subject;
      var predId = triple.predicate;
      var objId = triple.object;

      var subjNode = filterNodesById(graph.nodes, subjId)[0];
      var objNode = filterNodesById(graph.nodes, objId)[0];

      if (subjNode == null) {
        subjNode = { id: subjId, label: subjId, weight: 1 };
        graph.nodes.push(subjNode);
      }

      if (objNode == null) {
        objNode = { id: objId, label: objId, weight: 1 };
        graph.nodes.push(objNode);
      }


      graph.links.push({ source: subjNode, target: objNode, predicate: predId, weight: 1 });
    });

    return graph;
  }
</script>
{% endblock %}

{% block main %}
  <div id="chart">
    <meta id="sunburst_data" data-nodes="{{ sunburst_data }}">
    <svg id="sunburst" width="1000" height="1000"></svg>
    <script>
      var nodeData = $('#sunburst_data').data("nodes")

      prefix = "http://example.com/"

      chart = Sunburst(nodeData, {
        value: d => d.size, // size of each node (file); null for internal nodes (folders)
        label: d => d.name.length <= 6 ? d.name : d.name.substring(0, 6)+'...', // display name for each cell
        title: (d, n) => `${n.ancestors().reverse().map(d => d.data.name).join(".")}\n${n.value.toLocaleString("en")}`, // hover text
        link: (d, n) => d.iri,
        width: 1000,
        height: 1000
      });

      svg = document.getElementById("sunburst");
      svg.appendChild(chart)
    </script>
  </div>
{% endblock %}