{% macro navigation() -%}
<div class="navbar justify-content-center navbar-light bg-light nav-fill rounded-10 px-3 border">
    <ul class="nav ">
        <li class="nav-item px-5 h3 active">
            <a class="nav-link" href="/">Overview<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-5 h3">
            <a class="nav-link" href="osparklis.html?endpoint={{ endpoint }}">Explore</a>
        </li>
        <li class="nav-item px-5 h3">
            <a class="nav-link" href="/predict">Predict</a>
        </li>
        <li class="nav-item px-5 h3">
            <a class="nav-link" href="/optimize">Optimize</a>
        </li>
    </ul>
</div>
{%- endmacro %}