{% macro navigation() -%}
<nav class="navbar navbar-expand" style="background-color: #e3f2fd;" rounded-10 px-3 border">
    <div class="container-fluid">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none m-3 pb-1">
            <img class='me-3' src="{{ logo }}" height="30" alt="mat-o-lab-logo" />
        </a>
        <ul class="navbar-nav inline mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="predef.html">Predefined Queries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="osparklis.html?endpoint={{ endpoint }}{{ sparklis_options }}">Explore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predict">Predict</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Config
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#config-endpoint-modal">
                            <span class="texte lang-en">Endpoint and queries</span>
                            <span class="texte lang-fr">Points d'accès et requêtes</span>
                            <span class="texte lang-es">Endpoint y consultas</span>
                            <span class="texte lang-nl">Endpoint en queries</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#config-ontology-modal">
                            <span class="texte lang-en">Ontology</span>
                            <span class="texte lang-fr">Ontologie</span>
                            <span class="texte lang-es">Ontología</span>
                            <span class="texte lang-nl">Ontologie</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#config-language-modal">
                            <span class="texte lang-en">Language and labels</span>
                            <span class="texte lang-fr">Langue et étiquettes</span>
                            <span class="texte lang-es">Idioma y etiquetas</span>
                            <span class="texte lang-nl">Taal en labels</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#config-advanced-modal">
                            <span class="texte lang-en">Advanced features</span>
                            <span class="texte lang-fr">Fonctionnalités avancées</span>
                            <span class="texte lang-es">Características avanzadas</span>
                            <span class="texte lang-nl">Geavanceerde functies</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#config-privacy-modal">
                            <span class="texte lang-en">Privacy</span>
                            <span class="texte lang-fr">Vie privée</span>
                            <span class="texte lang-es">Privacidad</span>
                            <span class="texte lang-nl">Privacy</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="dropdown-item" id="config-reset-button">
                            <span class="texte lang-en">Reset</span>
                            <span class="texte lang-fr">Réinitialiser</span>
                            <span class="texte lang-es">Restaurar</span>
                            <span class="texte lang-nl">Reset</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="sparql-endpoint-input" class="form-control mr-sm-2" type="url"
                value="http://servolis.irisa.fr/dbpedia/sparql">
            <button id="sparql-endpoint-button" class="btn btn-outline-success my-2 my-sm-0">Go</button>
            <!-- default endpoint -->
        </form>

        <!-- <li class="nav-item px-5 h3">
                    <a class="nav-link" href="/optimize">Optimize</a>
                </li> -->

    </div>
</nav>
{%- endmacro %}