
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank"
                 href="https://github.com/vandungdo/lebedigital_UI_prototype" 
                 class="font-weight-bold ml-1" target="_blank">Prototype Query UI</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://materialdigital.de/project/3" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; LeBeDigital</a> 
                 - coded by <a target="_blank" href="https://www.bam.de/Navigation/DE/Ueber-die-BAM/Organisation/Organigramm/Praesident/Abteilung-S/referat-s3/referat-s3.html">Knowledge Graph AG</a>
            </div>
          </div>
        </div>
      </footer>
