<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/Logo_MaterialDigital.png" class="navbar-brand-img" alt="Argon Dashboard - Flask Template Logo."> <strong style="color: rgb(115, 115, 228);"> - LeBeDigital</strong>
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Information</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'search' in segment %} active {% endif %}" href="/search">
              <i class="ni ni-zoom-split-in text-primary"></i>
              <span class="nav-link-text">Search</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'search' in segment %} active {% endif %}" href="/search">
              <i class="ni ni-zoom-split-in text-primary"></i>
              <span class="nav-link-text">New Search</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'visualization' in segment %} active {% endif %}" href="/visualization">
              <i class="ni ni-chart-bar-32 text-primary"></i>
              <span class="nav-link-text">Visualization</span>
            </a>
          </li>
          
        </ul>
        <!-- Divider -->
        <hr class="my-3">
       
      </div>
    </div>
  </div>
</nav>